:root {
    --back-color: #f1f3f5;
    --front-color: #fff;
    --input-border-color: #ced4da;
    --input-back-color: #f8f9fa;
    --main-color: #c2255c;

    --shadow-color: rgba(0, 0, 0, 0.04);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Rubik", sans-serif;
    color: #444;

    /* background-color: #f3f3f3; */
    background-color: var(--back-color);

    position: relative;
}

.bloque,
.modal {
    /* width: 75%; */
    width: 85%;
    margin: 2rem auto;
    padding: 2rem 2rem;
    border: 1px solid var(--front-color);
    border-radius: 10px;

    font-size: 1.5rem;

    background-color: var(--front-color);
    box-shadow: 0 0.8rem 0.8rem var(--shadow-color);
}

input {
    border: none;
    padding: 0.5rem 2rem;
    font-size: 1.4rem;
    text-align: center;
    width: 12rem;
    border-radius: 10px;
    /* margin-right: 1rem; */
    border: 1px solid var(--input-border-color);
    background-color: var(--input-back-color);
    /* transition: all ease-in 0.1s; */

    font-family: "Rubik", sans-serif;
}

input:focus,
button:focus {
    outline: 3px solid var(--main-color);
}

button {
    border: none;
    border-radius: 10px;
    padding: 0.5rem 2rem;

    border: 1px solid var(--input-border-color);
    background-color: var(--input-back-color);

    font-size: 1.4rem;

    cursor: pointer;

    transition: 0.1s ease-in all;

    font-family: "Rubik", sans-serif;
}

h2 {
    margin-bottom: 1.2rem;
}

/* h3 {
    border-bottom: 1px solid black;
} */

.form {
    display: grid;
    row-gap: 0.5rem;
    column-gap: 2rem;
}

/* |----||----||----||----||----||----||----|
                    Paso 1
|----||----||----||----||----||----||----| */

.form--1 {
    grid-template-columns: 2.5fr 2.5fr 1fr;
}

.form__button--paso-1 {
    grid-row: 1;
    grid-column: 3;
}

/* |----||----||----||----||----||----||----|
                    Paso 2
|----||----||----||----||----||----||----| */

.clases {
    display: grid;
    /* grid-template-columns: repeat(5, 1fr); */
    grid-template-columns: repeat(4, 1fr);
    row-gap: 2rem;
    column-gap: 2rem;

    align-items: flex-start;
}

.clase {
    border: 1px solid var(--input-border-color);
    border-radius: 5px;
    padding: 1rem;

    /* box-shadow: 0 0.8rem 0.8rem rgba(0, 0, 0, 0.02); */
}

.form--numero-objetos {
    /* border-bottom: 1px solid black; */
    /* padding-bottom: 1rem; */

    display: flex;
    flex-direction: column;

    padding: 0.8rem;
    padding-bottom: 0;
}

.form--numero-objetos > div {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    margin-bottom: 1rem;
}

.form__input--numero-objetos {
    width: 40%;
}

.form__button--numero-objetos {
    align-self: end;
}

/* |----||----||----||----||----||----||----|
                    Paso 3
|----||----||----||----||----||----||----| */

.objeto {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0.8rem;
}

.objeto--variables {
    display: flex;
    flex-direction: column;
    /* width: 50%; */
    gap: 0.2rem;
}

/* |----||----||----||----||----||----||----|
                    Paso 4
|----||----||----||----||----||----||----| */

.form--numero-nuevo {
    grid-template-columns: 2fr 1fr;
}

.form__button--numero-nuevo {
    grid-row: 1;
    grid-column: 2;
}

/* |----||----||----||----||----||----||----|
                    Paso 5
|----||----||----||----||----||----||----| */
.clase-aux {
    grid-template-columns: 1fr;
}

.objetos-nuevos {
    display: grid;
    padding-top: 1rem;
    /* gap: 2rem; */
    grid-template-columns: repeat(4, 1fr);
    column-gap: 2rem;
    row-gap: 2rem;
}

.objeto-nuevo {
    /* border: 1px solid var(--input-border-color);
    border-radius: 5px; */

    display: flex;
    justify-content: space-between;

    padding: 1rem;
}

.align--end {
    align-self: flex-end;
}

/* |----||----||----||----||----||----||----|
                    Paso 6
|----||----||----||----||----||----||----| */
.clases--resultado {
    grid-template-columns: 1fr 1fr;
}

.clase--resultado {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

/* |----||----||----||----||----||----||----|
                Clase Maestra
|----||----||----||----||----||----||----| */
span {
    color: var(--main-color);

    font-size: 2rem;
}

.boton-info {
    border-radius: 10rem;
    padding: 0.4rem;

    position: absolute;
    right: 2rem;

    cursor: pointer;

    display: flex;
    align-items: center;
}

a {
    border-radius: 10rem;
    padding: 0.4rem;
    border: 1px solid var(--input-border-color);
    background-color: var(--input-back-color);

    position: absolute;
    top: 5rem;
    right: 2rem;

    cursor: pointer;

    display: flex;
    align-items: center;
    transition: 0.1s ease-in all;
}

button:hover,
a:hover {
    background-color: var(--main-color);
    color: var(--input-back-color);

    /* border: none; */
}

button:hover > *,
a:hover > * {
    color: var(--input-back-color);
}

ion-icon {
    font-size: 3.2rem;
    color: var(--main-color);
}

.hide {
    display: none;
}

.modal * {
    text-align: center;
}

.modal > div {
    margin-bottom: 1rem;
}

.modal > div > div {
    display: flex;

    justify-content: center;
    align-items: center;

    gap: 1rem;

    margin-bottom: 0.4rem;
}

.span-clase {
    background-image: linear-gradient(to top left, #862e9c, #e599f7);
    padding: 0.4rem 0.6rem;
    border-radius: 10px;
    color: white;
}

.grafica {
    padding: 0;
    margin: auto;
    display: block;
    /* width: 85%; */
    margin-bottom: 2rem;

    border: 1px solid var(--front-color);
    border-radius: 10px;

    background-color: var(--front-color);
    box-shadow: 0 0.8rem 0.8rem var(--shadow-color);

    transform: scaleY(-1);
}
